* {
    margin: 0;
    padding: 0;
}

h2 {
    font-family: cursive;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; 
}

body {
    background-color: rgb(245, 225, 225);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.card-item:hover {
        transform: rotate(-1deg);
        cursor: pointer;
    
}

.card:hover {
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
 }
